<!-- Awesome ass shit-->
<div class="main-header">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>(H)open Source</h1>
                <hr>
                <p style="font-family: Merriweather; color: #B2FFB2; font-size: 30px;">Do you want to <b> change </b> the world? </p>
                <p style="font-family: Merriweather; color: white; font-size: 20px;">Are you a developer, or a non-profit organization? </p>
                <a href=<%=signin_path%> class="btn btn-primary btn-xl page-scroll">Developers</a>
                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Organizations</a>
            </div>
        </div>
</div>