<% content_for :title do %>About<% end %>
<h3>About (H)openSource</h3>
<p>
(H)openSource connects passionate developers with non-profit organizations looking for help creating technologies that make the world better. (H)openSouce provides a method by which people who are looking </p>
